<p><h1>Schiller Shakers Emergency Preparedness Page</h1></p><br />
Welcome to the SSNET (neighborhood emergency taskforce), the group that focuses on emergency preparedness for the local Schiller and surrounding community.<br />
Here you will find resources that are helpful for getting ready to shelter in place after a widespread emergency.<br />
We are in the process of setting this resource up so that it meets the needs of our community. Please be patient and check back weekly!<br />
<hr>
<p><h3>Links</h3></p>
Here is a <a href="https://www.oregon.gov/oem/Documents/shakyground_english.pdf">link to the "Living on Shakey Ground" booklet</a> that we have been using. It's very good.<br />
Here is a <a href="https://www.portlandoregon.gov/pbem/46475">link to Portland's Bureau of Emergency Management website</a> to help us prepare.